/* Style for the easter egg-iframe*/

.easter-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.easter-egg {
  padding: 10px;
  background-color: black;
  width: 100%;
  height: 1000px;
}
