.footer-container {
  background-color: darkolivegreen;
  margin-top: auto;
  margin-bottom: 0px;
  padding: 10px;
  opacity: 0.7;
}
.footer-container p {
  display: flex;
  justify-content: center;
  color: rgb(208, 204, 187);
}
#random {
  /* BOX MODEL */
  width: 100%;
  height: 450px;
  border: 1px solid black;

  /* ENHANCEMENT */
  background-image: url("http://placehold.it/300&text=banner1");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
