body {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: auto;
}
.light {
  background-image: url("./assets/backgrounds/karim-ben-van-mKk2nnZ1EQk-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  p {
    color: #000000;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Abril Fatface", serif;
    font-size: 30px;
    color: rgb(97, 71, 57);
    text-shadow: 2px 2px #fef2cd;
  }
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Abril Fatface", serif;
    font-size: 23px;
    color: rgb(97, 71, 57);
  }
  h3 {
    font-family: "Abril Fatface", serif;
    color: rgb(65, 55, 31);
  }
}
.dark {
  background-image: url("./assets/backgrounds/pexels-pixabay-433155.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  p {
    color: white;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Abril Fatface", serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #263b34;
  }
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Abril Fatface", serif;
    font-size: 23px;
    color: rgb(248, 234, 227);
  }
  h3 {
    font-family: "Abril Fatface", serif;
    color: rgb(255, 255, 255);
  }
}

.site-container {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  /* BOX MODEL */
  width: 100%;
  height: auto;

  /* ENHANCEMENT */
}
/*Portfolio page*/
.portfolio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
}
.modals {
  display: flex;
  justify-content: center;
}

.site-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* body {
  background-image: url("./assets/backgrounds/1.jpg");
  min-height: 100vh;
}
main {
  min-height: 100vh;
} */
footer {
  background-color: darkolivegreen;
  margin-bottom: 0px;
  padding: 10px;
  opacity: 0.7;
  max-height: 50px;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: auto;
}
.dark {
  footer {
    background-color: #194739;
  }
}
html {
  margin: 0;
  padding: 0;
}

.contact-form {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin: 20px;
  padding: 20px;
  width: 600px;
  height: auto;
  border: 1px solid #543f3f;
  border-radius: 30px;
  background-color: #fff6e2;
}
label {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 25px;
}
input[type="submit"] {
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 10%;
}
input[type="submit"]:hover {
  background-color: rgb(80, 118, 76);
}

/* css when screen is max 700px wide */
@media screen and (max-width: 700px) {
  .contact {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 85%;
    height: auto;
    border: 1px solid #543f3f;
    border-radius: 30px;
    background-color: #fff6e2;
  }
  .date {
    float: left;
    text-align: left;
    width: 100%;
  }
  .CV-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    align-items: center;
  }
  .cv-aside {
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid rgb(65, 55, 31);
    border-left: 2px solid rgb(65, 55, 31);
  }
  .work-education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    border-bottom: 0;
    border-left: 2px solid rgb(65, 55, 31);
    padding: 15px;
  }
  #home {
    margin: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #home h1 {
    font-size: 2.5em;
  }
  #home h2 {
    font-size: 1.5em;
  }
  #home h3 {
    font-size: 1em;
  }
  #home {
    margin: 40px;
  }
  .contact-container {
    min-width: 400px;
  }
  /* For printing */
}
@media print {
  .dark {
    color: #000000;
    background-color: #ffffff;
    font-family: Georgia, Times, serif;
    .work-education li {
      color: rgb(0, 0, 0);
    }
    h1 {
      color: #000000;
      text-shadow: none;
    }
  }
  p {
    font-family: Georgia, Times, serif;
    font-size: 12pt;
  }
  .CV-content {
    font-family: Georgia, Times, serif;
  }
  h1 {
    font-family: Georgia, Times, serif;
  }
  h3 {
    font-family: Georgia, Times, serif;
  }
  .about-me-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-me-content p {
    font-size: 14pt;
  }
  a:link {
    color: #0000cc;
    text-decoration: underline;
  }
  footer {
    display: none;
  }
  header {
    display: none;
  }
}
